.uc-nav {
  & .t967 {
      overflow: hidden;
      background-color: white;
  }
  & .t967__additionalwrapper {
      justify-content: flex-end;
      flex-wrap: wrap;
  }
  & .t967__bottom {
      position: relative;
      &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 0;
          bottom: 0;
          width: 100vw;
          background-color: #ff7300;
          transform: translateX(-50%);
          z-index: -1;
      }
  }

  & .t967__additional-descr ul {
      
      list-style: none;
      margin: 0;
      padding: 0 !important;
      display: flex;
      gap: 30px;

      & li {
          position: relative;
          display: flex;
          flex-direction: column;
          padding-left: 40px;

          &::before {
              position: absolute;
              content: "";
              left: 0;
              top: 50%;
              width: 30px;
              height: 30px;
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              background-image: url(https://static.tildacdn.com/tild3031-3031-4665-b331-663535366438/icon-phone.svg);
              transform: translateY(-50%);
          }

          & strong,
          & a {
              display: inline-block;
          }
      }
  }
}

.uc-header-top {
  & .t821__phone-container,
  & .t821__adress-container {
      & a {
          transition: 0.2s;

          &:hover {
              color: #144a93!important;
          }
      }
  }
}

.uc-main-title {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}

/*Наша продукция*/
.uc-product-list--mob {
  & .t-card__title {
      font-size: 24px;
  }

  & .t-card__descr {
      & ul {
          list-style: none;
          padding-left: 0 !important;
          
          & li {
              position: relative;
              padding-left: 2em;

              &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0.7em;
                  width: 1em;
                  height: 1px;
                  background-color: #144a93;
              }
          }
      }
  }
}
.uc-card-fix,
.uc-card-fix-zhalyuzi,
.uc-card-fix-potolki,
.uc-card-fix-softokna {
  & .t226__floating {
      top: 100px;
  }

  & .t226__text {
      & ul {
          list-style: none;
          padding-left: 0 !important;
          
          & li {
              position: relative;
              padding-left: 2em;

              &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0.7em;
                  width: 1em;
                  height: 1px;
                  background-color: #144a93;
              }
          }
      }
  }
}

.uc-card-fix-zhalyuzi,
.uc-card-fix-potolki,
.uc-card-fix-softokna {
  & .t226__fixedTop {
      & .t226__title {
          display: none;
      }
  }

  & .t226__floating {
      & .t226__title {
          display: block;
      }
  }
}
/*Главный слайдер*/
.uc-main-slider {
  & .t734__textwrapper {
      display: inline-flex;
      flex-direction: column;
      position: relative;
      z-index: 1;

      @media (min-width: 961px) {
          max-width: 600px;
      }  

      &::before {
          content: "";
          position: absolute;
          top: -60px;
          left: -40px;
          width: calc(100% + 80px);
          height: calc(100% + 120px);
          background-color: #fff;
          filter: blur(40px);
          z-index: -1;
          opacity: 0.7;
      }
  }
}
/*Баннер на внутренних*/
.uc-banner {
  & .t941__descr,
  & .t181__descr {
      & ul {
          list-style: none;
          padding-left: 0 !important;
          
          & li {
              position: relative;
              padding-left: 2em;

              &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0.7em;
                  width: 1em;
                  height: 1px;
                  background-color: #144a93;
              }
          }
      }
  }
}
/*Подзаголовки*/
.uc-subtitle {
  & .t050__uptitle {
      @media (max-width: 960px) {
          font-size: 24px!important;
      }
      padding-top: 0;
      padding-bottom: 0;
      
  }

  & .t050__title {
      @media (max-width: 960px) {
          & p {
              font-size: 28px!important;
              word-wrap: break-word;
          }
      }

      @media (min-width: 961px) {
          margin-top: -20px;
      }

  }
}

/*Форма консультации*/
.uc-consultation-form {
    @media (max-width: 960px) {
        padding-bottom: 0 !important;
    }

  & .t700__contentbox {
      @media (min-width: 961px) {
          position: relative;
            bottom: 0;
      }
      
  }
  & .t700__img {        
      left: 0;
      bottom: -60px;

      @media (min-width: 961px) {
          position: absolute;
          width: 100%;
          height: auto;
      }

  }
}
/*Галерея на главной*/
#rec672081577.uc-gallery-tabs {
  
  @media (min-width: 961px) {
      position: relative;
      
      & .t395__wrapper {
          display: flex;
          column-gap: 10px;
      }

      & .t395__tab {
          border-top: 1px solid #333333 !important;
          border-left: 1px solid #333333 !important;
          border-right: 1px solid #333333 !important;
          border-color: #333333 !important;
          border-radius: 10px 10px 0 0;

          &:hover,
          &:focus {
              border-top: 1px solid #144a93 !important;
              border-left: 1px solid #144a93 !important;
              border-right: 1px solid #144a93 !important;
              border-color: #144a93 !important;
              background-color: #ffffff !important;
          }
      }

      & .t395__tab.t395__tab_active {
          border-top: 1px solid #144a93 !important;
          border-left: 1px solid #144a93 !important;
          border-right: 1px solid #144a93 !important;
          border-color: #144a93 !important;
          position: relative;
          z-index: 5;
      }

      & .t395__tab {
          &:first-child {
              margin-left: -1px;
          }
          &:last-child {
              margin-right: -1px;
          }
      }
  }
}
/*Галерея на главной*/
.uc-gallery-tab {
  @media (min-width: 961px) {
      position: relative;
      z-index: 1;

      &::before {
          display: block;
          content: "";
          position: absolute;
          top: -1px;
          bottom: 105px;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          max-width: 940px;
          background-color: #ffffff;
          z-index: -1;
          border: 1px solid #144a93;
      }

      & .t-slds__imgwrapper {
          padding-left: 22px;
      }

      & .t764__textwrapper {
          padding-right: 22px;
      }

      & .t-slds {
          overflow: visible;
      }

      & .t-slds__thumbsbullet-wrapper {
          position: relative;
          width: 940px;
          padding-left: 22px;
          padding-right: 22px;
      }

      
  }

  @media (min-width: 961px) and (max-width: 1200px) {
      & .t764__btn-wrapper a {
          width: 100;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
      }
  }

  @media (min-width: 1201px) {
      &::before {
          max-width: 1160px;
      }

      & .t-slds__thumbsbullet-wrapper {
          width: 1116px;
      }
  }
}
/*Галерея на внутренних*/
.uc-gallery-notab {
  @media (min-width: 961px) {
      & .t-slds {
          overflow: visible;
      }

      & .t-slds__thumbsbullet-wrapper {
          position: relative;
          width: 940px;
      }
  }

  @media (min-width: 1201px) {
      & .t-slds__thumbsbullet-wrapper {
          width: 1170px;
      }
  }
}
/*Каталоги*/
.uc-catalog-okna,
.uc-catalog-zhaluzi,
.uc-catalog-potolki {
  & .t-store__card__price-value {
      position: relative;

      &::before {
          content: "от ";
      }
  }

  & .t-store__card__btns-wrapper {
      & .t-btn {
          width: 100%;
      }
  }

}

.uc-catalog-zhaluzi,
.uc-catalog-potolki {
  & .t-store__card__price-currency {
      position: relative;

      &::after {
          content: "/м²";
      }
  }
}
/*Рассчитать стоимость окна*/
.uc-okna-calc {
  @media (min-width: 641px) {
      & li.t-img-select__item {
          width: calc(16% - 10px); 
      }

      & .t-text_xs {
          font-size: 10px;
      }
  }
}
/*Рассчитать стоимость жалюзи*/
.uc-zhalyuzi-calc {
    @media (max-width: 479px) {
        & .t-input-group_qn {
            width: calc((100% - 15px) / 2) !important;
        }
    }

  @media (min-width: 641px) {
      & li.t-img-select__item {
          width: calc(33% - 10px); 
      }

      & .t-text_xs {
          font-size: 10px;
      }
  }
}
/*Рассчитать стоимость потолки*/
.uc-potolki-calc {
    @media (max-width: 479px) {
        & .t-input-group_qn {
            width: calc((100% - 15px) / 2) !important;
        }
    }
    @media (min-width: 641px) {
        & li.t-img-select__item {
            width: calc(33% - 10px); 
        }
  
        & .t-text_xs {
            font-size: 10px;
        }
    }
}

.uc-myagkieokna-calc {
    @media (max-width: 479px) {
        & .t-input-group_qn {
            width: calc((100% - 15px) / 2) !important;
        }
    }
}

/*Акции в мобильной версии*/
.uc-actions-mob {
    @media (max-width: 960px) {
        & .t801__witharrows .t-col {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    & .t-slds__img {
        position: relative;
        top: 20px;
    }
}

.uc-actions {
    
    @media (min-width: 1201px) {
        position: relative;
        top: 0;

        & .t-slds__item .t-container {
            display: inline-flex;

            & .t-col.t-col_6 {
                max-width: 700px !important;
                width: 100%;
            }
            & .t-col.t-col_6.t801__centeredsection {
                max-width: 500px !important;
            }
        }

        & .t-slds__img {
            position: relative;
            bottom: -4px;
        }
        
    }
}





/*Контакты*/
.uc-contacts {
  & .t433__contentwrapper {
    display: flex;
    flex-direction: column;

    & .t433__btn-wrapper {
        order: 1;
    }
  }
}

/*Футер*/
.uc-main-footer {  
  & .t389__list_item a {
    display: inline-block;
    position: relative;
    padding-left: 27px;
    transition: 0.2s;
    color: lightgrey;
      

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%) rotate(0deg);
      width: 20px;
      height: 20px;
      background-image: url("https://static.tildacdn.com/tild6438-3133-4465-a531-613430303033/logo-onmaster.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: 0.5s;

    }

    &:hover,
    &:focus,
    &:active {
      color: #ffffff!important;

      &::before {
        transform: translateY(-50%) rotate(360deg);
      }
    }
  }

  & .t389_scrolltop {
    position: relative;
    border: 1px solid #ffffff;
    transition: 0.2s;
    padding: 6px 47px 6px 25px;
    border-radius: 3px;
    color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-image: url("https://static.tildacdn.com/tild6232-6533-4337-a535-613366373563/arrow-up.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    } 


    & .t389__icon {
      display: none;
    }

  }
}

.uc-okna-service {
  @media (min-width: 961px) {
      margin-top: -70px;
  }    
}
/*Вкладки на странице Окна*/
.uc-okna-tab-text {
    .t-text {
        text-align: justify;

        & ul {
            list-style: none;
            padding-left: 0 !important;
            
            & li {
                position: relative;
                padding-left: 2em;
  
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0.7em;
                    width: 1em;
                    height: 1px;
                    background-color: #144a93;
                }
            }
        }
    }
}

/*Фиксированная плашка с акцией*/
.uc-coupon {
    & .t654.t654__positionfixed {
        @media screen and (max-width: 980px) {
            position: fixed;
            height: auto;
            left: unset;
        }
        @media (min-width: 981px) {
            width: 420px;
            height: auto;
            right: 30px;
            left: unset;
            margin-bottom: 30px;            
            border-radius: 10px;
            box-shadow: 0px 10px 50px 0px #0000004d;
        }
    }

    & .t-container_flex {
        align-items: end;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    & .t654__c12collumns .t654__cell-container {
        @media screen and (max-width: 980px) {
           padding: 10px 40px 10px 190px !important;
        }
        padding: 10px 44px 10px 125px;
    }

    /*& .t654__wrapper::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 9px;
        aspect-ratio: 1 / 1;
        width: 145px;
        background-image: url("https://static.tildacdn.com/tild3061-6163-4363-b632-303236663838/window.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: translateY(-51%) translateX(-56%);

        @media screen and (max-width: 980px) {
            width: 268px;
            left: 76px;
        }
    }*/

    & .t654__wrapper::after {
        content: "";
        position: absolute;
        bottom: -15%;
        left: 0;
        aspect-ratio: 1 / 1;
        width: 180px;
        background-image: url("https://static.tildacdn.com/tild6637-6339-4537-a233-313461313835/photo.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        -webkit-animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
        -moz-animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
        -o-animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
        animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;

        @media (min-width: 981px) {
            bottom: -30%;
            left: -105px;
            width: 200px;
        }
    }

    & .t654__btn-wrapper {
        padding-left: 0 !important;
        width: 100%;
                

        @media screen and (max-width: 980px) {
            width: auto;
            margin: 0 auto;
            max-width: 300px;

        }
    }

    & .t654__btn {
        display: inline-block;
        width: 100%;
    }
}

@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
    }
    20%, 40% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
    }
}

.uc-popup-standarts {
    & .t-popup {
        padding: 0 !important;
    }

    & .t-popup__container {
        right: 0;
        left: 0;
    }
    & .t-width_10 {
        max-width: 100vw !important;
    }
    & iframe {
        max-height: 100vh;
    }
}

